.chatCol {
     border: solid 1px #424542;
     -webkit-border-radius: 7px;
     -moz-border-radius: 7px;
     border-radius: 7px;
}

.duelCol {
     border: solid 1px #424542;
     -webkit-border-radius: 7px;
     -moz-border-radius: 7px;
     border-radius: 7px;
}
