body {
    margin-left: 20px;    
    padding:0;
    background-size: cover;
    z-index: -1;
}

#topRow {
}

#mainRow {
    height: 33%;
}

#bottomRow {
    height: 33%;
}

.colonneIdle {
    animation:idle;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.selector {
    background: url(../Images/Ui/Selector.png) no-repeat;
    background-size: contain;
    height: 3em;
    background-position: center;
}

.noSelector {
    height : 3em;
}

.combatInfo {
    font-family: "Times New Roman", Times, serif;
    font-size: 1em;
}

.griffe {
    animation:griffe 0.5s linear infinite;
}

.btnCombat {
    font-family: "Times New Roman", Times, serif;
    font-size: 2em;
}

.dammageAnimated {
    position: absolute;
    font-family: "Times New Roman", Times, serif;
    font-size: 3em;
}

.portaitContainerGentil {
    border: 0.5em solid green;
    border-radius: 1em;
    height: 5em;
    overflow: hidden;
}

.portaitContainerEnnemie {
    border: 0.5em solid red;
    border-radius: 1em;
    height: 5em;
    overflow: hidden;
}

.cursorTarget {
    cursor: crosshair;
}

#qteProgress {
    background-color: grey;
    float: right;      
}
#qteBar {
    width: 1%;
    height: 30px;
    background-color: green;
}


@keyframes idle {
    50% { -webkit-transform: rotateZ(10deg); transform:rotateZ(10deg); }
    50% { -webkit-transform: rotateZ(-10deg); transform:rotateZ(-10deg); }
}
/*
@keyframes comete {
    0%  { -webkit-transform: translate(10px); }
   100% { -webkit-transform: translate(1000px, 200px);}
}

@keyframes fireBall {
    0%  { -webkit-transform: translate(10px, 200px); }
   100% { -webkit-transform: translate(1000px, 200px);}
}
@keyframes griffe {
    100% { -webkit-transform: rotate(45deg); transform:rotate(45deg); }
}

@keyframes coup {
    100% { -webkit-transform: rotate(-45deg); transform:rotate(-45deg); }
}

@keyframes casting {
    50% { -webkit-transform: rotateZ(10deg); transform:rotateZ(10deg); }
    50% { -webkit-transform: rotateZ(-10deg); transform:rotateZ(-10deg); }
}*/
