.colonneIdle {
    animation:idle;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.selector {
    background: url(../Images/Ui/Selector.png) no-repeat;
    background-size: contain;
    height: 3em;
    background-position: center;
}

.noSelector {
    height : 3em;
}

.etat {
    height: 3em;
}

.griffe {
    animation:griffe 0.5s linear infinite;
}

.dammageAnimated {
    position: absolute;
    font-family: "Times New Roman", Times, serif;
    font-size: 3em;
}

.portaitContainerGentil {
    border: 0.5em solid green;
    border-radius: 1em;    
    overflow: hidden;
}

.portaitContainerEnnemie {
    border: 0.5em solid red;
    border-radius: 1em;    
    overflow: hidden;
}

.cursorTarget {
    cursor: crosshair;
}

#qteProgress {
    background-color: grey;
    float: right;      
}
#qteBar {
    width: 1%;
    height: 30px;
    background-color: green;
}


@keyframes idle {
    50% { -webkit-transform: rotateZ(10deg); transform:rotateZ(10deg); }
    50% { -webkit-transform: rotateZ(-10deg); transform:rotateZ(-10deg); }
}