.modal{
  border: solid 1px #424542;
  box-shadow: 1px 1px #e7dfe7,
              -1px -1px #e7dfe7,
              1px -1px #e7dfe7,
              -1px 1px #e7dfe7,
              0 -2px #9c9a9c,
              -2px 0 #7b757b,
              0 2px #424542;
  width: auto;
  padding: 5px 10px;
  margin: 50px 50px;

  background: #04009d;
  background: -moz-linear-gradient(top,  #04009d 0%, #06004d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#04009d), color-stop(100%,#06004d));
  background: -webkit-linear-gradient(top,  #04009d 0%,#06004d 100%);
  background: -o-linear-gradient(top,  #04009d 0%,#06004d 100%);
  background: -ms-linear-gradient(top,  #04009d 0%,#06004d 100%);
  background: linear-gradient(to bottom,  #04009d 0%,#06004d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04009d', endColorstr='#06004d',GradientType=0 );
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

.modal *{
  color: #eff1ff;
  text-shadow: 2px 2px #212421,
               1px 1px #212021;
  font-family: Verdana, sans-serif;
  font-size: 30px;
  font-weight: normal;
  margin: 5px 0;
}

.modal-dialog {
    width: auto;
}

.saveRow {
     border: solid 1px #424542;
     -webkit-border-radius: 7px;
     -moz-border-radius: 7px;
     border-radius: 7px;
     padding: 5px 10px;
     margin: 50px 50px;
}

.reserveCol {
     border: solid 1px #424542;
     -webkit-border-radius: 7px;
     -moz-border-radius: 7px;
     border-radius: 7px;
}

.separation {
    border: solid 1px white;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

#rowReserve {
    min-height: 50px;
}

#rowReserveFusion {
    min-height: 50px;
}

#rowFusion {
    min-height: 50px;
}

#rowEquipeActuel {
    min-height: 50px;
}

.clearMargin {
    margin: 0px;

}

.clearPadding {
    padding: 0px;
}

.setHeight {
    height: 5em;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    /* float: none; */
}

.jumbotron {
    border: solid 1px #424542;
    box-shadow: 1px 1px #e7dfe7,
                -1px -1px #e7dfe7,
                1px -1px #e7dfe7,
                -1px 1px #e7dfe7,
                0 -2px #9c9a9c,
                -2px 0 #7b757b,
                0 2px #424542;
    width: auto;
    padding: 5px 10px;
    margin: 50px 50px;

    background: #04009d;
    background: -moz-linear-gradient(top,  #04009d 0%, #06004d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#04009d), color-stop(100%,#06004d));
    background: -webkit-linear-gradient(top,  #04009d 0%,#06004d 100%);
    background: -o-linear-gradient(top,  #04009d 0%,#06004d 100%);
    background: -ms-linear-gradient(top,  #04009d 0%,#06004d 100%);
    background: linear-gradient(to bottom,  #04009d 0%,#06004d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04009d', endColorstr='#06004d',GradientType=0 );
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

 html {
    overflow: auto;
} 

.rowBigBtn {
    height: 5em;
    color: white;
}

.bigBtn:hover {
    cursor: pointer;
} 

.bigBtn {
    background: #2972a3;
    background-image: -webkit-linear-gradient(top, #2972a3, #0a2536);
    background-image: -moz-linear-gradient(top, #2972a3, #0a2536);
    background-image: -ms-linear-gradient(top, #2972a3, #0a2536);
    background-image: -o-linear-gradient(top, #2972a3, #0a2536);
    background-image: linear-gradient(to bottom, #2972a3, #0a2536);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: Arial;
    color: #ffffff;
    font-size: 30px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.bigBtn:hover {
    background: #2e87bf;
    background-image: -webkit-linear-gradient(top, #2e87bf, #244357);
    background-image: -moz-linear-gradient(top, #2e87bf, #244357);
    background-image: -ms-linear-gradient(top, #2e87bf, #244357);
    background-image: -o-linear-gradient(top, #2e87bf, #244357);
    background-image: linear-gradient(to bottom, #2e87bf, #244357);
    text-decoration: none;
  }

.btnRed {
    background: #cc265e;
    background-image: -webkit-linear-gradient(top, #cc265e, #360a24);
    background-image: -moz-linear-gradient(top, #cc265e, #360a24);
    background-image: -ms-linear-gradient(top, #cc265e, #360a24);
    background-image: -o-linear-gradient(top, #cc265e, #360a24);
    background-image: linear-gradient(to bottom, #cc265e, #360a24);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: Arial;
    color: #ffffff;
    font-size: 30px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btnRed:hover {
    background: #bd2fbd;
    background-image: -webkit-linear-gradient(top, #bd2fbd, #572557);
    background-image: -moz-linear-gradient(top, #bd2fbd, #572557);
    background-image: -ms-linear-gradient(top, #bd2fbd, #572557);
    background-image: -o-linear-gradient(top, #bd2fbd, #572557);
    background-image: linear-gradient(to bottom, #bd2fbd, #572557);
    text-decoration: none;
}
  
li:hover {
    cursor: pointer;
}

.btnCloseFooter {
    background: #b2d9de;
    background-image: -webkit-linear-gradient(top, #b2d9de, #b3cacc);
    background-image: -moz-linear-gradient(top, #b2d9de, #b3cacc);
    background-image: -ms-linear-gradient(top, #b2d9de, #b3cacc);
    background-image: -o-linear-gradient(top, #b2d9de, #b3cacc);
    background-image: linear-gradient(to bottom, #b2d9de, #b3cacc);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: Arial;
    color: #ffffff;
    font-size: 30px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btnCloseFooter:hover {
    background: #2facbd;
    background-image: -webkit-linear-gradient(top, #2facbd, #c1d5de);
    background-image: -moz-linear-gradient(top, #2facbd, #c1d5de);
    background-image: -ms-linear-gradient(top, #2facbd, #c1d5de);
    background-image: -o-linear-gradient(top, #2facbd, #c1d5de);
    background-image: linear-gradient(to bottom, #2facbd, #c1d5de);
    text-decoration: none;
  }

  input.form-control {
    background-color: #63AEEB;
    height: 100%;
}

div {
    -ms-word-break: break-all;
    word-break: break-all;
  
    /* Non standard for webkit */
    word-break: break-word;
  
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
  }

  .progress {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border: solid 1px white;
  }

  .blueBackGround {
    border: solid 1px #424542;
    box-shadow: 1px 1px #e7dfe7,
                -1px -1px #e7dfe7,
                1px -1px #e7dfe7,
                -1px 1px #e7dfe7,
                0 -2px #9c9a9c,
                -2px 0 #7b757b,
                0 2px #424542;
    width: auto;
    padding: 5px 10px;
    background: #04009d;
    background: -moz-linear-gradient(top,  #04009d 0%, #06004d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#04009d), color-stop(100%,#06004d));
    background: -webkit-linear-gradient(top,  #04009d 0%,#06004d 100%);
    background: -o-linear-gradient(top,  #04009d 0%,#06004d 100%);
    background: -ms-linear-gradient(top,  #04009d 0%,#06004d 100%);
    background: linear-gradient(to bottom,  #04009d 0%,#06004d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04009d', endColorstr='#06004d',GradientType=0 );
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    font-size: 2em;
  }

  .combatInfoEquipe {
    border: solid 1px #424542;
    box-shadow: 1px 1px #e7dfe7,
                -1px -1px #e7dfe7,
                1px -1px #e7dfe7,
                -1px 1px #e7dfe7,
                0 -2px #9c9a9c,
                -2px 0 #7b757b,
                0 2px #424542;
    background: #04009d;
    background: -moz-linear-gradient(top,  #04009d 0%, #06004d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#04009d), color-stop(100%,#06004d));
    background: -webkit-linear-gradient(top,  #04009d 0%,#06004d 100%);
    background: -o-linear-gradient(top,  #04009d 0%,#06004d 100%);
    background: -ms-linear-gradient(top,  #04009d 0%,#06004d 100%);
    background: linear-gradient(to bottom,  #04009d 0%,#06004d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04009d', endColorstr='#06004d',GradientType=0 );
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    font-size: 1em;
    color: white;
    opacity: 0.7;
  }

  .combatInfoEnnemie {
    border: solid 1px #424542;
    box-shadow: 1px 1px #e7dfe7,
                -1px -1px #e7dfe7,
                1px -1px #e7dfe7,
                -1px 1px #e7dfe7,
                0 -2px #9c9a9c,
                -2px 0 #7b757b,
                0 2px #424542;
    background: #cc265e;
    background-image: -webkit-linear-gradient(top, #cc265e, #360a24);
    background-image: -moz-linear-gradient(top, #cc265e, #360a24);
    background-image: -ms-linear-gradient(top, #cc265e, #360a24);
    background-image: -o-linear-gradient(top, #cc265e, #360a24);
    background-image: linear-gradient(to bottom, #cc265e, #360a24);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: Arial;
    color: #ffffff;
    font-size: 30px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04009d', endColorstr='#06004d',GradientType=0 );
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    font-size: 1em;
    color: white;
    opacity: 0.7;
  }

  .bigWhiteText {
    font-family: Arial;
    color: #ffffff;
    font-size: 2em;
  }

  .container.combatContainer {
    margin: 0 50px;
  }

  .containerMarginTopBottom {
      margin-top: 50px;
      margin-bottom: 50px;
  }

  .spinningPotiron {
    animation: spin 2s linear infinite;
  }

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}